* {
    box-sizing: border-box;
}

@media screen and(max-width: 1600px; max-height; px) {
    body {
        background-color: #ff0000;
    }
}

body {
    margin: 0;
}

.nav {
    background-color: #9096a0;
    color: white;
    padding: 20px 20px;
    overflow: auto;
}


.nav .contact {
    float:left;
    margin-right: 10px;
}


.button {
    background-color: #000000;
    border: none;
    color: white;
    position: absolute;
    outline: none;
    bottom: 92%;
    left: 68%;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

}

.button:hover {background-color: #000000}

.button:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button2 {
    background-color: #000000;
    border: none;
    color: white;
    position: absolute;
    outline: none;
    bottom: 92%;
    left: 78%;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

}

.button2:hover {background-color: #000000}

.button2:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button3 {
    background-color: #000000;
    border: none;
    color: white;
    position: absolute;
    outline: none;
    bottom: 92%;
    left: 90%;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button3:hover {background-color: #000000}

.button3:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.logo {
    /*background-image: url("ying_yang.png");  */
    height: 120px;
    background-repeat: no-repeat;
}

nav ul {
    margin: 0;
}

nav li {
    float: left;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
}

nav {
    background-color: #000000;
    height: 70px;
}

text {
    padding: 1px 0;
    float: right;
    font-size: 100%;
}

header li {
    float: left;
    list-style: none;
    margin-right: 30px;
    font-size: 140%;
    cursor: pointer;
}

.footer {
    background-size: cover;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center
}

.ice {
    /*background-image: url('icebackground.png');  */
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
}

.mid1 {
    color: #000000;
    position: absolute;
    top: 30%;
    left: 38%;
    font-size: 180%;
}

.mid2 {
    color: #000000;
    position: absolute;
    top: 40%;
    left: 38%;
    font-size: 180%;
}

.icon {
    /*background-image: url('github.png');  */
    height: 115px;
    background-repeat: no-repeat;
}